{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/asset/css/login.css">
{% endblock %}

{% block body %}

<form method="post">

    {% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="registrationFormBlock">

        <div class='registration_Form'>

            <div class="registrationLoginBlock">

                <div class="registrationBlock">
                    <h4><a class="nav-link active" aria-current="page" href="{{ path('app_register') }}">REGISTER</a></h4>
                </div>

                <div class="loginBlock">
                    <h4><a class="nav-link active" aria-current="page" href="{{ path('app_login') }}">LOGIN</a></h4>
                </div>

            </div>

            <div class='form' id="loginForm">

                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                <div class="passwordReset">
                    <h6><a class="nav-link active" aria-current="page" href="/reset-password">Forgot password?</a></h6>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="loginButton">
                    <button type="submit" id="btnLogin"> LOGIN </button>
                </div>

                <div class="googleAUTH">
                    <a class="nav-link active" href="{{ path('connect_google') }}"><img  src="/img/LogoGoogleAuth.png" style=' width:30px; 'alt="GoogleAUTHLogo">oogle Login</a>
                </div>

            </div>

        </div>

    </div>

</form>

{% endblock %}
