{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/asset/css/register.css">
{% endblock %}

{% block body %}

<div class="registrationFormBlock">

    <div class='registration_Form'>


        <div class="registrationLoginBlock">

            <div class="registrationBlock">

                <h4><a class="nav-link active" aria-current="page" href="{{ path('app_register') }}">REGISTRATION</a></h4>

            </div>

            <div class="loginBlock">

                <h4><a class="nav-link active" aria-current="page" href="{{ path('app_login') }}">LOGIN</a></h4>

            </div>

        </div>

        <div class='form'>

            {{ form_start(registrationForm) }}

            {{form_label(registrationForm.nom, 'Surname', {'label_attr': {'class':'form-label'}}) }}
            {{form_widget(registrationForm.nom, {'attr': {'class':'form-control', 'placeholder': 'Doe'}})}}
            {{ form_errors(registrationForm.nom) }} 

            {{form_label(registrationForm.prenom, 'Name', {'label_attr': {'class':'form-label'}}) }}
            {{form_widget(registrationForm.prenom, {'attr': {'class':'form-control', 'placeholder': 'Jhon'}}) }}
            {{ form_errors(registrationForm.prenom) }}
                
            {{form_label(registrationForm.email, null, {'label_attr': {'class':'form-label'}}) }}
            {{form_widget(registrationForm.email, {'attr': {'class':'form-control', 'placeholder': 'example@outlook.com'}}) }}
            {{ form_errors(registrationForm.email) }}
                
            {{form_label(registrationForm.password, null, {'label_attr': {'class':'form-label'}}) }}
            {{form_widget(registrationForm.password, {'attr': {'class':'form-control', 'placeholder': 'Your content here' }}) }}
            {{ form_errors(registrationForm.password) }}

            <div class="registrationButton">
                <button type="submit" id="btnRegistration">REGISTRATION</button>
            </div>

            {{ form_end(registrationForm) }}
        </div>

    </div>

</div>

{% endblock %}